/* font-family: source-sans-pro,"Source Sans Pro","Bai Jamjuree",sans-serif; 
font-family: 'Kanit', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: futura-pt,"Nunito Sans","Kanit",sans-serif;
font-family: 'Nunito Sans', sans-serif;
*/


@import "chang-nav.css";

:root {
    --background: rgba(179, 255, 251, 0.85);
    --color: rgb(77, 255, 207);
}



/**************************** ABOUT CHANG CUSTOM ***************************/

p {
    margin-bottom: 1rem;
}

h1 {
    font-size: 2.375rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito Sans","Kanit",sans-serif;
    font-weight: 900;
    color: black;
}


.header-1 {
    font-weight: 800;
    color: black;
    font-family: 'Nunito Sans', sans-serif;
    display: block;
    align-items: center;
    margin-top: 8.275rem !important;
    margin-bottom: 2.85rem !important;
}
.blinking{
    color: tomato;
    margin: 5px;
    font-size: 50px;
    animation: blink 1s linear infinite;
}
@keyframes blink {
    90% {
        opacity: 0;
    }
}


a:any-link {
    text-decoration: none;
    transition: all 0.2s;
}
a:any-link:hover {
    color: tomato;
}

.mt-5, .my-5 {
    margin-top: 4.275rem !important;
}
.mb-4, .my-4 {
    margin-bottom: 2.85rem !important;
}

.mb-5, .my-5 {
    margin-bottom: 4.275rem !important;
}
.mt-4, .my-4 {
    margin-top: 2.85rem !important;
}
.m-0 {
    margin: 0 !important;
}
.d-block {
    display: block !important;
}
.d-inline-block {
    display: inline-block !important;
}
.text-center {
    text-align: center !important;
}

.mb-2, .project-preview .project-info .project-title, .my-2 {
    margin-bottom: 0.7125rem !important;
}
.chang-port {
    border-radius: 50% !important;
}



.social-link {
    transition: all 0.2s !important;
    color: black;
}
.fa-larger {
    font-size: 1.9rem;
    line-height: 1.9rem;
}
.social-link:hover {
    text-shadow: 1px 1px 1rem tomato;
}


.about-name {
    font-family: 'Kanit', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    margin: 0 !important;
}
h3 {
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    font-weight: 900;
}
.name-thai {
    color: darkgray;
    font-weight: 900;
    margin: 0px;
}
.color-job {
    color: tomato;
    font-weight: 900;
    margin: 0px;
}
.container-2 {
    margin-bottom: 4.275rem !important;
    flex: 0 0 66.6666666667%;
    max-width: 66.6666666667%;
}
.visible-highlight-body.active, .project-body b.active, .project-body strong.active {
    background-position: 0 0;
}
.visible-highlight-body, .project-body b, .project-body strong {
    background: linear-gradient(to right, #ff9e8d 0%, #ff9e8d 50%, transparent 50%, transparent 100%);
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-size: 210% 100%;
    background-position: 100% 0;
    transition: all 0.7s;
    overflow: hidden;
}

.mail {
    color: black;
}
.mail:hover {
    color: tomato;
}


/************ FOR MOBILE CUSTOM ****************/

@media (max-width: 412px) {
    .header-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}

@media (max-width: 576px) {
    .header-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    .row {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
}
