:root {
    --background: rgba(179, 255, 251, 0.85);  /* blueish - rgba(97, 147, 255, 0.85) */ /* lightgreen - rgba(0, 255, 213, 0.85) / bluegreen -rgba(153, 255, 246, 0.85) */ 
    --bs-body-color: #212529;
    --key-color: #ff6347;
    --key-color-2: #c7faf4;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    display: block;
    margin: 0;
    font-family: source-sans-pro,"Source Sans Pro","Bai Jamjuree",sans-serif;
    font-size: .95rem;
    background-color: #ffffff;
}


/***************************************** NAVIGATION BAR CUSTOM **************************************/
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

body.navbar-padding {
    padding-top: calc(.35625rem + 60px);
}

.container {
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    background: var(--background);
    padding: 0 1.425rem;
    transition: all 0.5s;
}

.navbar a:any-link {
    text-decoration: none;
}

.navbar .navbar-brand {
    font-size: 1.75rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 800;
    padding: 0;
    margin: 0;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1.425rem;
    font-size: 2.25rem;
    line-height: inherit;
    white-space: nowrap;
}
.navbar-brand:hover {
    text-shadow: 2px 2px 2px black;
}
.navbar-nav {
    font-size: 1.25rem;
}

.navbar.navbar-compact{
    background:linear-gradient(to bottom, rgba(179, 255, 251, 0.85));
}
.navbar.navbar-compact .nav-item {
    padding-top: 1.06875rem;
    padding-bottom: 1.425rem;
}

.navbar.navbar-compact .nav-item.active::before{
    margin-top:-1.06875rem;
    margin-bottom:.7125rem
}

.mr-3, .mx-3 {
    margin-right: 1.425rem !important;
}
.mr-auto, .mx-auto {
    margin-right: auto !important;
    margin-left: 550px !important;
}

.navbar .nav-link {
    padding-top: 0;
    padding-bottom: 0;
    color: white;
    position: relative;
}


.navbar .nav-item {
    padding-top: 1.425rem;
    padding-bottom: 1.425rem;
    transition: padding 0.5s;
}
.navbar .nav-item .nav-button {
    border: #ffffff 2px solid;
    padding: .35625rem 1.425rem;
    border-radius: 1.425rem;
    background-color: transparent;
    transition: all 0.12s;
    box-shadow: 0 0 0 #ffffff;
}
.navbar .nav-item .nav-button:hover { 
    color: #ffffff;
    background-color: tomato;
    text-decoration: none;
    border-color: tomato;
    box-shadow: 0 0 1.425rem tomato;
}


.navbar .nav-link:hover {
    color: tomato;
}
.navbar-nav .nav-link::before {
    content: "";
    display: block;
    background: tomato;
    position: absolute;
    height: 3px;
    bottom: -0.25rem;
    width: 100%;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    -webkit-transition: transform ease-in-out 250ms;
}
.navbar-nav .nav-link:hover::before {
    transform: scale(1, 1);
}

.navbar .nav-item.active::before {
    content: ' ';
    display: block;
    position: inherit;
    margin-top: -2.1375rem;
    height: .35625rem;
    margin-bottom: 1.78125rem;
    background-color: #ff6347;
    box-shadow: 0 0 1.425rem tomato,0 0 2.85rem tomato;
    transition: margin 0.5s;
}



footer.footer {
    background-color: #ffffff;
    padding: .7125rem;
}
.text-muted {
    color: #888 !important;
}
.pb-3, .py-3 {
    padding-bottom: 1.425rem !important;
}
.pt-2, .py-2 {
    padding-top: .7125rem !important;
}


.text-left {
    text-align: left !important;
}
.text-right {
    text-align: right !important;
}


@media (max-width: 768px) {

    .navbar{transition:all 0.5s}

    .navbar .nav-item.active:not(.navbar-main)::before{
        display:none
    }

    .navbar .navbar-main::before{
        content:' ';
        display:block;
        margin-top:-2.49375rem;
        height:.35625rem;
        margin-bottom:2.1375rem;
        background-color:#ff6347;
        box-shadow:0 0 1.425rem #ff6347,0 0 2.85rem #ff6347;
        transition:margin 0.5s
    }

    .navbar.navbar-expanded{
        background:linear-gradient(to bottom, #fff 0%, #fff 90%, #fff0 100%)
    }
    
    .dark-top .navbar.navbar-expanded:not(.navbar-compact){
        background:linear-gradient(to bottom, #000 0%, #000 90%, #0000 100%)
    }
    
    .navbar .navbar-collapse{
        padding-bottom:2.85rem;
        transition:all 0.3s;
        padding:.7125rem 0;
        border-radius:.7125rem;
        background:#f2f2f288;
        backdrop-filter:blur(15px)
    }
    
    .navbar .navbar-collapse .nav-item{
        padding-top:.7125rem;
        padding-bottom:.7125rem;
        text-align:center;
        transition:all 0.2s
    }
    
    .navbar .navbar-collapse .nav-item:hover{
        background-color:#ff6347
    }
    
    .navbar .navbar-collapse .nav-item:hover a.nav-link{color:#000 !important}
    
    .dark-top .navbar:not(.navbar-compact) .navbar-collapse{background:#3338}
    
    .dark-top .navbar:not(.navbar-compact) .navbar-collapse .nav-item:hover{background-color:#ff6347}
    
    .dark-top .navbar:not(.navbar-compact) .navbar-collapse .nav-item:hover a.nav-link{color:#fff !important}
    
    .navbar .nav-button:active{
        color:#ffffff;
        background-color:#14E1CA;
        text-decoration:none;
        border-color:#14E1CA;
        box-shadow:0 0 1.425rem #14E1CA
    }
    
    .navbar .navbar-nav{
        display:flex;
        flex-direction:column;
        padding-left:0;
        margin-bottom:0;
        list-style:none
    }

    .navbar-nav .nav-link::before {
        transform: scale(0, 0);
    }
    .navbar-nav .nav-link:hover::before {
        transform: scale(0, 0);
    }
}
    


@media (max-width: 1200px) {
    .navbar .navbar-collapse .nav-item {
        text-align: center;
    }
    .navbar .navbar-nav {
        list-style: none;
    }
    .mr-auto, .mx-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
@media (max-width: 1400px) {
    .navbar .navbar-collapse .nav-item {
        text-align: center;
    }
    .navbar .navbar-nav {
        list-style: none;
    }
    .mr-auto, .mx-auto {
        margin-right: auto !important;
        margin-left: auto !important;
    }
}
